@media screen and (min-width: 375px) {
    .room_header_inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .main_front_logo {
        width: 30.08px;
    }

    .main_header_last {
        flex: 1 0 140px;
    }

    /* .scd_header_inner_filter {
        position: relative;
        right: 60px;
    } */
}

@media screen and (min-width: 550px) {
    .main_ctt_mdl {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 744px) {
    .room_header_inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .scd_header_scroll_next2 {
        right: 200px;
        justify-content: flex-end;
    }
}

@media (max-width: 807px) {
    .rmctt2 {
        margin-top: 20px;
    }
}

@media (max-width: 950px) {
    .hostmain-left {
        display: none;
    }

    .hostmain-logo {
        display: none;
    }
}

@media (min-width: 950px) {
    .main_header_front {
        flex: 1 0 140px;
    }

    .main_header_mid {
        text-align: center;
    }

    .main_ctt_mdl {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .room_header_inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-a {
        padding-left: 40px;
        padding-right: 40px;
    }

}


@media screen and (min-width: 1128px) {
    .logoqwe {
        display: block;
    }

    .logodfh {
        display: none;
    }

    .main_content_ctt {
        padding-left: 80px;
        padding-right: 80px;
    }

    .main_ctt_mdl {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .room_header_inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .main_scd_header_inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .main_header_inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .main_front_logo {
        width: 102px;
    }

    .rmctt2-inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt-hdr {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt3-inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt3-a {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt3in4 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt3-ainn2 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmzii {
        padding-left: 80px;
        padding-right: 80px;
    }

    .rmctt3-a2 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 1128px) {

    .main_scd_header_inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .logoqwe {
        display: none;
    }

    .logodfh {
        display: block;
    }

    .rmctt2-inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-a {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3in4 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmzii {
        padding-left: 40px;
        padding-right: 40px;
    }

    .main_header_inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-ainn2 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt3-a2 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .main_content_ctt {
        padding-left: 40px;
        padding-right: 40px;
    }

    .rmctt-hdr {
        padding-left: 40px;
        padding-right: 40px;
    }



}

@media screen and (min-width: 1440px) {
    .room_header_inner {
        padding-left: 80px;
        padding-right: 80px;
    }

}