.momo {
    height: 243px;
    width: 240px;
    background-color: #fff;
    z-index: 6;
    position: absolute;
    display: block;
    right: 75px;
    border-radius: 12px;
    padding: 8px 0 8px 0;
    box-shadow: 0 2px 4px #DDDDDD;
    top: 70px;
}

.momo2 {
    height: 243px;
    width: 240px;
    background-color: #fff;
    z-index: 6;
    position: absolute;
    display: block;
    right: 5px;
    border-radius: 12px;
    padding: 8px 0 8px 0;
    box-shadow: 0 2px 4px #DDDDDD;
    top: 50px;
}

.modalhome-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}


.modalhome-btn2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDDDDD;
    height: 90px;
}

.modalhome-btn3 {
    display: flex;
    flex-direction: column;
    height: 130px;
    padding-top: 20px;
}

.modalhome-signup {
    height: 60%;
    background-color: #fff;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

.modalhome-login {
    height: 50%;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

.modalhome-host {
    height: 33.333%;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

.modalhome-hosting {
    height: 33.333%;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

.modalhome-help {
    height: 33.333%;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

/* 로그인 모달 */

.loginModal {
    position: fixed !important;
    inset: 0px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: center !important;
    width: 568px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
}

.modalAll {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: center !important;
    z-index: 10 !important;
    position: fixed !important;
    inset: 0px !important;

}

.login-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255) !important;
    max-height: 100%;
    display: flex !important;
    flex-direction: column !important;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    vertical-align: middle;
    align-self: center;
}

.loginHeader {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 0px 24px !important;
    height: 64px;
    border-bottom: 1px 
   solid #DDDDDD;

}

.closelogin {
   padding-top: 25px;
}

.loginheadertxt {
   padding-top: 20px;
   margin-left: auto;
   margin-right: auto;
   font-size: 16px;
   font-weight: 800;
   line-height: 20px;
   padding-bottom: 20px;
   
}

.loginMain{
    padding: 24px !important;
    flex: 1 1 auto !important;
    overflow-y: auto !important;
    outline: none !important;
}

.lm1 {
    margin-top: 8px !important;
    margin-bottom: 24px !important;
}

.lm3 {
    width: 100% !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    height: 16px;
    line-height: 16px !important;
}

.lm4 {
    display: block;
}


._u72b34 {
    font-size: 22px !important;
    line-height: 26px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 600 !important;
    margin-bottom: 8px !important;
    margin-top: 0;
    text-align: left;
}

.lm2-form {
    margin-top: 16px;
}

.dir.cx1v2qp[class][class] {
    background-color: #FFFFFF;
    position: relative;
}

._jro6t0 {
    display: flex !important;
    width: 100%;
}

._e296pg {
    position: relative !important;
    width: 100%;
}

._sbmagf {
    position: absolute !important;
    pointer-events: none !important;
}

._ey3tib {
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    margin: 0px !important;
    border: none transparent !important;
    color: rgb(34, 34, 34) !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

._19nw8j1 {
    position: relative !important;
    flex: 1 1 auto !important;
    padding: 0px !important;
}

._zhftk97 {
    position: absolute !important;
    top: 18px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px 24px 0px 0px !important;
    color: rgb(113, 113, 113) !important;
    pointer-events: none !important;
    transform-origin: 0% 0% !important;
    font-size: 16px !important;
    line-height: 20px !important;
    transform: translateY(-8px) scale(0.75) !important;
    font-weight: 400 !important;
}

._lmil0 {
    -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    position: absolute !important;
    right: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    max-width: 50% !important;
    min-width: 36px !important;
    padding-right: 12px !important;
    pointer-events: none !important;
    color: rgb(34, 34, 34) !important;
}

._11hx67x {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-align: left;
    color: #717171;
}
._1iwku6d {
    min-height: 56px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 26px 36px 10px 12px !important;
    background-color: transparent !important;
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}


option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

._t26glb {
    position: absolute !important;
    pointer-events: none !important;
    border-style: solid !important;
}

._3hmsj:focus-within {
    border-radius: 8px;
    border-left: 3px solid #222222 !important;
    border-top: 3px solid #222222 !important;
    border-right: 3px solid #222222 !important;
    border-bottom: 2px solid #222222 !important;
}

._tddesd {
    position: relative !important;
    cursor: text !important;
    display: flex !important;
    min-height: 56px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none transparent !important;
    color: rgb(34, 34, 34) !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}

._1yw7hpv {
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
}

._1jn0ze9 {
    position: absolute !important;
    top: 18px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(113, 113, 113) !important;
    pointer-events: none !important;
    transform-origin: 0% 0% !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;

}
._js9i23 {
    display: flex !important;
    opacity: 0 !important;
}

._1dnryfrb {
    padding-top: 26px !important;
    padding-left: 12px !important;
    margin-right: -6px !important;
    color: rgb(113, 113, 113) !important;
}

._c5rhl5 {
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    margin: 26px 12px 6px !important;
    min-height: 1px !important;
    color: #222222 !important;
    background-color: transparent !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    appearance: none !important;
}

._1dnryfrb {
    padding-top: 26px !important;
    padding-left: 12px !important;
    margin-right: -6px !important;
    color: rgb(113, 113, 113) !important;
}

._c5rhl5::placeholder {
    color: rgb(113, 113, 113) !important;
    opacity: 1 !important;
}

._166d2jm1 {
    margin-top: 8px !important;
    color: rgb(34, 34, 34) !important;
    font-size:11px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
   text-align: left;
   height: 32px;
}

._1sikdxcl {
    font-size: inherit !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: underline !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    text-align: left;
    float: left;
    outline: none !important;
}

.lm2-btn {
    margin-bottom: 24px !important;
    margin-top: 16px !important;
}

.lm2btn {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    outline: none !important;
    padding: 14px 24px !important;
    border: none !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    width: 100% !important;
}

.lm2span {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    border-radius: 8px !important;
}

._kaq6tx {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 200px !important;
    background-size: 200% 200% !important;
    opacity: 0 !important;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
}

.lm2span22 {
    display: block !important;
    position: relative !important;
    pointer-events: none !important;
}

._16fq9mb {
    display: flex !important;
    align-items: center !important;
    margin: 16px 0px !important;
    height: 16px;
}


._16fq9mb::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 0.5px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-right: 16px !important;
    
}

._16fq9mb::after {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 0.5px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-left: 16px !important;
}

.lm4-inner {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}

.lm4-in {
    width: 100% !important;
    margin-bottom: 16px !important;
}

.lm4-btn {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    padding: 13px 23px !important;
    border-color: #222222 !important;
    background: #FFFFFF !important;
    color: #222222 !important;
    width: 100% !important;
}

.lm4in {
    display: flex !important;
    align-items: center !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.lm4div1 {
    flex: 0 1 0% !important;
}

.lm4div2 {
    flex: 1 1 0% !important;
}

.lm4div3 {
    flex: 0 1 0% !important;
}

._wbq {
    position: relative;
    cursor: text;
    display: flex;
    min-height: 56px;
    width: 100%;
    margin: 0px;
    color: rgb(34, 34, 34);
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 8px !important;
    border-left: 3px solid #222222 !important;
    border-top: 3px solid #222222 !important;
    border-right: 3px solid #222222 !important;
    border-bottom: 2px solid #222222 !important;
}

.lm222 {
    position: absolute;
    top: 5px;
    left: 12px;
    right: 12px;
    margin: 0;
    padding: 0;
    color: rgb(113, 113, 113);
    pointer-events: none;
    transform-origin: 0%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.lm223 {
    display: flex;
    opacity: 1;
}

.loginHead {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 0px 24px !important;
    height: 64px;
    border: none;
}

.loginmain {
    padding: 24px ;
    flex: 1 1 auto !important;
    overflow-y: auto !important;
    outline: none !important;

}

/* .login-main {
    display: flex;
    align-self: flex-start;
} */

._u72b3 {
    font-size: 26px !important;
    line-height: 30px !important;
    margin-bottom: 24px !important;
    font-weight: 600 !important;
    color: rgb(34, 34, 34) !important;
    display: block !important;
    text-align: left;
    margin-top: 35px;
}

._1ywltba {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 24px !important;
    flex-direction: row;
}

._1x7xqyv {
    max-width: 100% !important;
    width: 64px !important;
    height: 64px !important;
    border-radius: 8px !important;
    display: inline-block !important;
    object-fit: cover !important;
    margin-right: 16px !important;
}

._lo9vot {
    font-size: 16px !important;
    line-height: 20px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 400;
}

.share-sec {
    display: flex;
    flex-direction: column;
}

.share-flex {
    margin-left: -8px !important;
    margin-right: -8px !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 519.2px;
}

.shareflex {
    padding-left: 8px !important;
    padding-right: 8px !important;
    width: 50%;
    position: relative !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.sf-div {
    width: 100% !important;
    height: 76px !important;
    outline: none !important;
    cursor: pointer !important;
    border: 1px solid rgb(221, 221, 221) !important;
    border-radius: 12px !important;
    box-sizing: border-box !important;
    background: rgb(255, 255, 255) !important;
    margin-bottom: 16px !important;
}

.sf-btn {
    cursor: pointer !important;
    position: relative !important;
    touch-action: manipulation !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    font-weight: inherit !important;
    border-radius: 0px !important;
    outline: none !important;
    background: transparent !important;
    border: none !important;
    color: inherit !important;
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: inherit !important;
    text-decoration: none !important;
    height: 100% !important;
    width: 100% !important;
}

.sfbtn {
    display: flex !important;
    align-items: center !important;
}

.sfbtndiv {
    margin-left: 22px !important;
    margin-right: 22px !important;
    border-radius: 4px !important;
    overflow: hidden !important;
}

._1xzp9wc {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    overflow: hidden !important;
    color: rgb(34, 34, 34) !important;
    text-overflow: ellipsis !important;
}

._pa35zs {
    top: 24px !important;
    position: absolute !important;
    display: flex !important;
    left: 24px !important;
    z-index: 1 !important;
}

._oda838 {
    appearance: none !important;
    display: inline-block !important;
    border-radius: 50% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(34, 34, 34) !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    position: relative !important;
    background: transparent !important;
}

._fywymp7 {
    display: flex !important;
    opacity: 1 !important;
}

._4l12l8 {
    margin-top: 8px !important;
}

._1yhfti2 {
    display: flex !important;
    color: rgb(193, 53, 21) !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
    
}