@import 'reset.css';

.root-wrap  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.main_header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  border-width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 10;
}

.main_header_inner{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  display: flex;
  height: 80px;
  position: relative;
  width: 100%;
}

.main_header_front {
  width: 474.08px;
}

.main_front_logo {
  width: 102px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.main_home_link {
  color: #FF385C;
  vertical-align: middle;
  position: absolute;
}

.main_header_mid {
  width: 411.06px;
  padding: 0 24px;
  text-align: center;
}


.main_header_mid_box {
  height: 48px;
  width: 363.06px;
  vertical-align: middle;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  display: flex;
  flex: 0 1 auto;
  right: 10px;
  padding-left: 8px;
}

.main_header_mid_frt {
  background: transparent;
  width: 98px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: -1px;
  padding-left: 8px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.main_header_mid_frt_txt {
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px; 
  /* 줄높이 */
  font-weight: 600;
  text-overflow: ellipsis;
  /* 말 줄임표로 잘린 텍스트가 있다고 표시 */
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  text-align: left;
  cursor: pointer;
}

.barbar{
  background-color:#DDDDDD;
  height: 24px;
  width: 1px;
  margin-top: 10px;
}

.main_header_mid_mid{
  background: transparent;
  cursor: pointer;
  padding: 0;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: -1px;
  /* width: 120.99px; */
  height: 48px;
}

.main_header_mid_mid_txt {
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px; 
  /* 줄높이 */
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  text-align: left;
  cursor: pointer;
}

.main_header_mid_last{
  background-color: transparent;
  height: 48px;
  cursor: pointer;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: -1px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.main_header_mid_last_txt {
  padding: 0 16px;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  cursor: pointer;
 height: 18px;
 margin-top: 13px;
}

.main_header_mid_search {
  background-color:  #FF385C;
  margin: 7px 7px 7px 0;
  border-radius: 50%;
  padding: 10px;
}

.search {
  color: #FFFFFF;
  height: 32px;
  width: 32px;
}

.main_header_last {
  height: 80px;
  width: 474.08px;
  display: flex;
  flex-direction: row;

}

.main_header_lastlast {
  height: 80px;
  width: 474.08px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.main_header_last_frt {
  width: 389.08px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px !important;
}

.main_header_last_frt2 {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 12px;
  height: 42px;
}

.header_lst_frt2_txt{
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #222222;
  text-align: center;
}

.main_header_last_mid{
  width: 40px;
  height: 42px;
}

.main_header_last_scd {
  width: 77px;
  height: 42px;
}

.main_header_last_mid{
  align-items: center !important;
  display: flex !important;
  height: 18px !important;
  position: relative !important;
  z-index: 1 !important;
}

.header_last_mid_svg {
  position: absolute;
  top:12px;
  left: 12px;
}

.main_header_last_last_box {
  padding: 5px 5px 5px 12px;
  background: transparent;
  cursor: pointer;
  margin: 0;
  border-radius: 21px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  width: 77px;
  height: 42px;
  display: flex;
  flex-direction: row;
}

.main_header_last_mymenu{
  margin-top: 7px;
}


.main_header_last_mymy{
  margin-left: 12px;
  flex: 0 0 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 30px;
  color: #717171;
}

.main_scd_header {
  position: sticky;
  width: 100%;
  margin-top: 80px;
  padding-top: 20px;
  top: 60px;
  height: 78px;
  z-index: 10;
}

.main_scd_header_inner {
  max-height: 78px;
  display: grid;
  /* grid-template-columns는 열(column)의 배치
   */
   grid-template-columns:100%;
   margin-inline: auto;
   height: 78px;
   margin: 0 auto;
   background-color: #FFFFFF;
}

.main_scd_header_inner> :nth-child(n){
  grid-area: 1 / 1 / 2 / 2;
}

.scd_header_inner_in{
  width: 1359.2px;
  height: 78px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.scd_header_inner_menu{
  width: 1255.2px;
  height: 78px;
}

.scd_header_scroll {
  /* left: 0; */
  padding-left: unset;
  padding-inline-start: 12px;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 4;
}


.scd_header_btn {
  border: 0.5px solid rgb(0 0 0 / 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-clip: padding-box;
  background-color: #FFFFFF;
  transition: box-shadow 0.2s ease;
  touch-action: manipulation;
  display: inline-flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}

.scd_header_scroll_next2 {
  right: 180px;
  width: 36px;
  padding-inline-end: 8px;
  background-color: #FFFFFF;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  top: 20px;
  bottom: 0;
  position: absolute;
  z-index: 3;
}

.scd_header_scroll_next {
  padding-inline-end: 8px;
  justify-content: flex-end;
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  bottom: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 4;
  opacity: 1;
  left: 2px;
}

.scd_header_scroll_next_btn{
  border: 0.5px solid rgb(0 0 0 / 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-clip: padding-box;
  background-color: var(--f-mkcy-f);
  transition: box-shadow 0.2s ease;
  touch-action: manipulation;
  display: inline-flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}

.scd_hdr_in {
  margin-right: 20px;
  height: 100%;
}